<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bookmarks</title>
</head>
<body>
  <div>
    <table>
      <thead>
        <tr>
        <th>Website</th>
        <th>Link</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Google</td>
          <td><a id="test" href="https://google.co.uk">google.co.uk</a></td>
        </tr>
        <tr>
          <td>Ebay</td>
          <td><a href="https://ebay.co.uk">ebay.co.uk</a></td>
        </tr>
        <tr>
          <td>Github</td>
          <td><a href="https://github.com">github.com</a></td>
        </tr>
        <tr>
          <td>Amazon</td>
          <td><a href="https://amazon.co.uk">amazon.co.uk</a></td>
        </tr>
      </tbody>

    </table>
  </div>
</body>
</html>